<nav class="flex gap-2 justify-between items-center p-5 h-auto">
  <!-- Logo -->
  <a href="/" class="flex gap-1 items-center">
    <ng-icon name="fluentBuildingTownhouse" size="30" />
    <p class="font-semibold text-2xl">RealEstate</p>
  </a>

  <!-- Navigation Links -->
  <ul class="flex gap-2 items-center">
    @for (navigationLink of navigationLinks; track navigationLink.label) {
      <li>
        <a href="{{ navigationLink.url }}" class="px-5 py-2">{{ navigationLink.label }}</a>
      </li>
    }
  </ul>

  <div class="flex items-center gap-5">
    <hlm-toggle-group variant="default" value="all" class="border rounded-2xl p-0.5">
      <button
        hlmToggleGroupItem
        value="all"
        aria-label="Toggle all"
        class="cursor-pointer outline-none border-none"
      >
        <ng-icon name="fluentWeatherSunny" />
      </button>
      <button hlmToggleGroupItem value="missed" aria-label="Toggle missed" class="cursor-pointer">
        <ng-icon name="fluentWeatherMoon" />
      </button>
    </hlm-toggle-group>

    <button hlmBtn variant="outline" class="rounded-sm bg-[#0d1b2b] text-white px-5 py-5">
      Inquire Now
    </button>
  </div>
</nav>
