<div class="">
  <!-- Details -->
  <div class="flex gap-5 my-5">
    <!-- Left Panel -->
    <div class="flex flex-col gap-5 flex-1">
      <!--  -->
      <div class="flex">
        <div class="flex-1">
          <p class="text-2xl font-bold">Modern Townhouse</p>
          <p class="flex gap-2 items-center">
            <ng-icon name="fluentLocation" />
            <span>Valenzuela City</span>
          </p>
        </div>
        <div class="flex-1 flex gap-2 items-center">
          <span class="font-bold text-xl">P 4,250,000</span>
          <span hlmBadge class="text-sm px-3 py-3 bg-blue-400">For Sale</span>
        </div>
      </div>

      <hlm-separator />

      <!-- Specifications -->
      <div class="flex gap-4">
        <div class="flex-1">
          <span>Icon + 2</span>
          <p>Bedrooms</p>
        </div>

        <hlm-separator orientation="vertical" />

        <div class="flex-1">
          <span>Icon + 2</span>
          <p>Bedrooms</p>
        </div>

        <hlm-separator orientation="vertical" />

        <div class="flex-1">
          <span>Icon + 2</span>
          <p>Bedrooms</p>
        </div>

        <hlm-separator orientation="vertical" />

        <div class="flex-1">
          <span>Icon + 2</span>
          <p>Bedrooms</p>
        </div>

        <hlm-separator orientation="vertical" />

        <div class="flex-1">
          <span>Icon + 2</span>
          <p>Bedrooms</p>
        </div>
      </div>

      <hlm-separator />

      <!-- Developer -->
      <div class="flex flex-col gap-2">
        <p class="font-bold text-lg">Developer</p>
        <!--  -->
        <div class="flex items-center gap-2">
          <div><img src="hero-section.jpg" alt="dwa" class="rounded-full w-16 h-16" /></div>
          <p class="text-lg font-semibold">Developer Inc</p>
        </div>
      </div>

      <hlm-separator />

      <!-- Descriptions -->
      <div class="flex flex-col gap-2">
        <p class="font-bold text-lg">Descriptions</p>
        <p class="w-[80%]">
          A modern townhouse designed for comfortable family living. Located in a secured community
          with easy access to schools, malls, and business centers.
        </p>
      </div>

      <hlm-separator />

      <!-- Features & Amenities -->
      <div class="flex flex-col gap-2">
        <p class="font-bold text-lg">Features & Amenities</p>
        <div class="flex gap-2 items-center">
          <span hlmBadge class="text-sm px-3 py-3 bg-muted text-black"> 24/7 Security </span>
          <span hlmBadge class="text-sm px-3 py-3 bg-muted text-black"> Clubhouse </span>
          <span hlmBadge class="text-sm px-3 py-3 bg-muted text-black"> Swimming Pool </span>
          <span hlmBadge class="text-sm px-3 py-3 bg-muted text-black">
            Children's Playground
          </span>
        </div>
      </div>
    </div>

    <!-- Right Panel -->
    <div>
      <!-- Agent Details -->
      <div class="flex flex-col gap-5">
        <hlm-card size="sm" class="mx-auto w-full max-w-sm">
          <!--  -->
          <p class="font-bold text-lg px-4">Agent Information</p>

          <hlm-card-header class="flex items-center">
            <div class="flex gap-2 items-center">
              <!-- Image -->
              <div class="rounded-full w-16 h-16 overflow-hidden">
                <img src="jinshin19.jpg" alt="dawdwa" class="w-full h-full" />
              </div>
              <!-- Name & Role -->
              <div>
                <h3 hlmCardTitle>Joshua Unilongo</h3>
                <p hlmCardDescription>Property Consultant</p>
              </div>
            </div>
          </hlm-card-header>

          <div class="flex items-center px-4">
            <hlm-separator />
          </div>

          <div hlmCardContent>
            <p class="font-bold text-lg">Contact</p>

            <!-- Contact Number -->
            <p class="flex gap-2 items-center py-2">
              <ng-icon name="fluentCall" size="20" />
              <span> +63 915 821 3085</span>
            </p>

            <!-- Email -->
            <p class="flex gap-2 items-center py-2">
              <ng-icon name="fluentMail" size="20" />
              <span>unilongojoshua94@gmail.com</span>
            </p>
          </div>
        </hlm-card>

        <button
          hlmBtn
          variant="outline"
          class="rounded-sm bg-[#0d1b2b] text-white px-5 py-7 text-lg"
        >
          Inquire About This Property
        </button>
      </div>
    </div>
  </div>
</div>
